.signup-wrapper {  
    width: 70%;
    max-width: 450px;
    height: auto;
    box-shadow: var(--shadow-box);
    border-radius: 1 rem;
    padding:1 rem 1.5 rem;
    }
    .title{ 
        font-weight: 500;
        font-size: 1.2 rem;
        text-align: center;
        
    }
    .p-login{
        text-align: center;
        margin: 0;
        font-weight: 300;
        font-size: 0.8rem;
    }